
  html {
    height: 100% !important;
  }

  body {
    width: 100% !important;
    height: 100% !important;
    display: table;
    align-items: center !important;
    vertical-align: middle !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  @media (min-width: 40em) {
    .btn-hamburger{
      top: 20px !important;
      left: 20px !important;
    }
  }

  .btn-hamburger {
    border: none;
    position: absolute;
    top: 11px;
    left: 11px;
    outline: none;
    background: url('menu.png') no-repeat left center;
    background-size: 50px 40px !important;
    height: 90px;
    width: 230px;
  }

  .btn-hamburger:focus {
    outline: none;
  }


  @font-face {
    font-family: Arial;
    src: url("Market_Deco.ttf");
  }

  h2{
    font-family: 'Market_Deco', Arial, sans-serif !important;
    color: #ff4757 !important;
  }

  .btn {
    background-color: #5352ed !important;
    border-color: #5352ed !important;
  }

  .btn-primary {
    background-color: #5352ed !important;
    border-color: #5352ed !important;
  }

  #title {
    width: 100%;
    font-size: 90px;
    letter-spacing: -5px;
    text-align: center;
}

  #infotext {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #2f3542;
  }

  .input-group {
    max-width: 45%;
    margin-top: 3%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .form-control {
    font-size: 2rem !important;
  }

  .input-group-append {
    max-width: 20%;
  }

  #inputText {
    height: 2em;
    text-align: center;
  }

  .btn-sm {
    font-size: 1.3rem;
  }

  .addItem{
    width: 100px !important;
  }

  #nextPage{
    width: 70px !important;
  }

  #sortList {
    font-size: 58px;
    /* margin-top: 7%; */
    margin-bottom: 1% !important;
    font-family: 'Market_Deco', Arial, sans-serif;
    letter-spacing: -1;
    color: #ff4757;
    
  }

  #buildList {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #pText {
    max-width: 50%;
    text-align: center;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-left: auto !important;
    margin-right: auto !important;
    color: #2f3542;
  }

  .startbtn {
    height: 3em;
    width: 6em;
    font-size: 1.3rem;
  }

  p {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  form {
    display: inline-block;
  }

  /* slideout.js css */

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: rgb(83,82,237);
  background: linear-gradient(180deg, rgba(83,82,237,1) 0%, rgba(255,127,80,1) 83%);
}

ul {
  list-style-type: none;
  font-family: 'Oswald', Arial;
  font-weight: 400 !important;
  font-size: 46px !important;
  margin: 0;
  position: absolute;
  vertical-align: middle;
  height: 50%;
  top: 30% !important;
  width: 100%;
  text-align: center;
}

ul > li {
  margin: 20px;
}

#menulink {
  color: #fff !important;
}

#menulink:hover {
  text-decoration: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #fff;
  background-color: #FFF;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.tooltips {
  font-size: 20px;
  font-weight: 200;
  line-height: 19px;
  display: inline-block;
  background: #2ed573 url('smile1.png') no-repeat right;
  color: #fff;
  background-size: 18px 18px;
  background-position: right 15px center;
  padding: 10px 45px 10px 20px;
  border-radius: 4px;
  position: relative;
  left: 15px;
}

.tooltips:before {
  content: '';
  display:inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #2ed573;
  position: absolute;
  top: 50%;
  left: -5px;
  margin-top: -6px;
}

/* testing top and bottom halves css*/
#panel {
    height: 100% !important;
    display: block;
}

.displayNameList {
  display: inline-block;
  width: 100% !important;
}

#pText {
  width: 40% !important;
  word-wrap: break-word !important;
  padding-bottom: 1%;

}


/* LAPTOP SCREEN SIZES */
@media all and (min-device-width: 1366px) and (min-device-height: 720px) {
  .topHalf {
    width: 100% !important;
    height: 40%;
    padding-top: 15% !important;
}

  .bottomHalf {
      width: 100% !important;
      height: 60%;
      padding-top: 3% !important;
  }
}

  /* IPHONE 5.SE SCREENS */
@media all and (min-device-width: 320px) and (max-device-width: 414px) {
  .topHalf {
    width: 100% !important;
    height: 48%;
    padding-top: 60%;
  }

  .bottomHalf {
      width: 100% !important;
      height: 52%;
      padding-top: 0;
  }
}


  /* IPAD SCREENS*/
  @media all and (min-device-width: 768px) and (min-device-height: 1024px) {
    .topHalf {
      width: 100% !important;
      height: 42% !important;
      padding-top: 36%;
    }
  
    .bottomHalf {
        width: 100% !important;
        height: 52% !important;
        padding-top: 3%;
    }
}

/* IPHONE X */
@media all and (min-device-width: 375px) and (max-device-width: 375px) and (min-device-height: 812px) {
  .topHalf {
    width: 100% !important;
    height: 42%;
    padding-top: 60%;
  }

  .bottomHalf {
      width: 100% !important;
      height: 58%;
      padding-top: 1%;
  }

  #title {
    font-size: 120px;
  }

  #pText {
    font-size: 42px;
    width: 60% !important;
  }

  .input-group {
    width: 60% !important;
  }
}

/* SURFACE DUO SCREENS */
/* @media all and (min-device-width: 540px) and (max-device-width: 540px) {
  .topHalf {
    width: 100% !important;
    height: 48%;
    padding-top: 30%;
  }

  .bottomHalf {
      width: 100% !important;
      height: 52%;
      padding-top: 9%;
  }

  #title {
    font-size: 100px;
  }

  #pText {
    font-size: 36px;
    width: 60% !important;
  }

  .input-group {
    width: 60% !important;
  }
} */

/* SMALLER PHONES Galaxy S4 and Pixel */
/* @media all and (min-device-width: 360px) and (min-device-height: 823px) {
  .topHalf {
    width: 100% !important;
    height: 48%;
    padding-top: 50%;
  }

  .bottomHalf {
      width: 100% !important;
      height: 52%;
      padding-top: 1%;
  }
} */
